Source/MVC_NCDAssignment/WebserviceTestClient/Service References/SearchService/SearchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minAge" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="maxAge" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="canBeFemale" type="xs:boolean" />
        <xs:element minOccurs="0" name="canBeMale" type="xs:boolean" />
        <xs:element minOccurs="0" name="minHeight" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="maxHeight" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="minWeight" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="maxWeight" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>